<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <span id="entity-info" 
  	data-id="<%= @entity.id %>" 
  	data-family="<%= @family_tree %>"
  	data-relationships="<%= @relationships %>">
  </span>
  <%= @entity.name %>
  <%= @entity_data %>
</p>

<p>
  <strong>Description:</strong>
  <%= @entity.description %>
</p>

<table>
	<strong>Parents of <%= @entity.name %></strong>
	<tbody>
		<% if @entity.parents.count == 0 %>
			<tr><td>No parents</td></tr>
		<% else %>
			<% @entity.parents.where.not(id: @entity.id).each do |parent| %>
				<tr>
					<td><%= parent.name %></td>
		      <td><%= parent.description %></td>
		      <!-- <td><%= parent.ownerships_as_parent.first.ownership_percentage %></td> -->
		      <td><%= link_to 'Show', parent %></td>
		      <td><%= link_to 'Edit', edit_entity_path(parent) %></td>
		    </tr>
	    <% end %>
	  <% end %>
  </tbody>
</table>

<table>
	<strong>Subsidiaries of <%= @entity.name %></strong>
	<tbody>
		<% if @entity.subsidiaries.count == 0 %>
			<tr><td>No subsidiaries</td></tr>
		<% else %>
			<% @entity.subsidiaries.where.not(id: @entity.id).each do |sub| %>
				<tr>
					<td><%= sub.name %></td>
		      <td><%= sub.description %></td>
		      <!-- <td><%= sub.ownerships_as_subsidiary.first.ownership_percentage %></td> -->
		      <td><%= link_to 'Show', sub %></td>
		      <td><%= link_to 'Edit', edit_entity_path(sub) %></td>
		    </tr>
		  <% end %>
		<% end %>
  </tbody>
</table>

<div id="myDiagramDiv" style="width:800px; height: 500px; background-color: #DAE4E4;"></div>

<%= link_to 'Edit', edit_entity_path(@entity) %> |
<%= link_to 'Back', entities_path %>
